.btncolor{
    color: #aaa;
    background-color: #32383e;
    border-color: #32383e;
    font-size: 15px;
    margin-top: 10px;
    padding: 8px 14px;
}
.properties{
    padding: 8px 14px;
    font-size: 15px;
    margin-top: 10px;
}
.btn-danger,.btn-danger:hover,.btn-danger:focus{
    background-color: #4799eb!important;
    border:2px solid #4799eb!important;
}
.title-fonts{
    color: rgb(160, 167, 173);
    font-size: 2.1rem;
    font-weight: 500;
    line-height: 1.2;
}
.secondary-color{
    color: #a0a7ad;
    font-size:1.3rem;
    font-weight: 500;
    line-height: 1.2;
}
.paragraph-fonts{
    font-weight:400;
    line-height:1.6;
    font-size:.95rem ;
    color: #a0a7ad;
}
strong{
    font-size: 16px;
}
.paragraph-font{
    font-weight:400;
    line-height:1.6;
    font-size:1rem ;
    color: #a0a7ad;
}
.overwatch{
    color: #a0a7ad;
    font-size:1.5rem;
    font-weight: 500;
    line-height: 1.2;
}
.font-parg{
    color: #a0a7ad;
    font-size:0.8rem;
    font-weight: 400;
    line-height: 1.2;
}
.info{
    color: #a0a7ad;
    font-size:1.7rem;
    font-weight: 500;
    line-height: 1.2;
}