body{
  background-color: #272b30;
  color:#fff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.bg-badge{
  background-color: #4799eb;
  font-size:13px;
  font-weight:600;
  padding: 8px;
}
.title-card,.p-card{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.fa-chevron-right{
  font-size:14px;
  padding-top: 7px;
}
.p-card{
  padding-right: 28px;
  font-size: 15px;
  font-weight: 400;
}
.title-font{
  color: #adb5bd;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.2;
}
.fa-plus-square{
  color: #adb5bd;
}
.bg-color{
  background-color: #32383e;
}
.body-card{
  margin-bottom: 20px;
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
}
.fa-window-maximize,.fa-windows,.fa-plus-square{
  font-size: 15px;
}
.font{
  font-size: 12px;
  padding: 2.6px 11px;
  
}
.scale{
  transition:all 0.2s ease-in-out;
}
.scale:hover{
  transform: scale(1.04);
}
@media screen and (max-width:756px){
  .container{
    width:100%!important;
  }
}